# OS
.DS_Store

# IDE / Editor
.idea/
.vscode/

# Python bytecode / caches
__pycache__/
*.py[cod]
*$py.class

# Distribution / packaging
*.egg-info/
dist/
build/
*.egg

# Test coverage
.coverage
.coverage.*
htmlcov/
.pytest_cache/

# C extensions
*.so
*.pyd
*.pyo

# Virtual environments (virtualenv)
.venv/

# Uploads directory (service.py)
uploads/
